# Ignore everything
*

# But keep these
!.gitignore
!README.md
!hypr/
!hypr/hyprland.conf
!hypr/hyprlock.conf
!wofi/
!wofi/config
!wofi/style.css
!waybar/
!waybar/config.jsonc
!waybar/style.css
!kitty/
!kitty/kitty.conf
!swaync/
!swaync/config.json
swaync/configSchema.json
!swaync/style.css
!wlogout/
!wlogout/layout
!wlogout/style.css
