* {
  font-family: "JetBrainsMono Nerd Font Mono";
}

window {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 1rem;
  font-size: 1rem;
}

#input {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: transparent;
  color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: none;
  padding: 0.5rem;
  margin: 0.5rem;
}

#entry {
  background-color: transparent;
  color: #cdd6f4;
  font-weight: 700;
  padding: 0.75rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
}

#entry:selected {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
}

#entry image {
  margin-right: 1rem;
}

#entry>*:not(expander) {
  margin-left: 18px;
}
