*{
    font-family: "JetBrainsMono Nerd Font Mono";
}

window {
    background-color: rgba(0, 0, 0, 0.9);
    border: none;
    font-size: 1.25rem;
}

#input {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#entry {
    background-color: transparent;
    color: #cdd6f4;
    padding: 0.5rem 0.75rem;
}

#entry:selected {
    background-color: black;
    border: 2.5px solid white;
    border-radius: 0.5rem;
}

#entry image{
	margin-right: 1rem;
}
